
*{ margin: 0%;
    }
    
    
    
    
    body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image:url(bg.jpeg);
    background-size:cover;
}

.container {
     align-content:  center;
    border: solid black 1px;
    margin: 200px;
    margin-top: 100px;
    margin-left: 34%;
    position: relative;
    max-width: 400px;
    
    background: linear-gradient( blue, rgb(190, 197, 135));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

.search {
    
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    border: #007BFF 1px;
    padding: 10px;
    width: 70%;
  
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.weather {
    text-align: center;
}

.temperature {
    font-size: 36px;
}

.conditions {
    font-size: 18px;
}

.icon img {
    max-width: 100px;
    margin-top: 10px;
}
